.navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;

    user-select: none;
}

.editBanner {
    text-align: center;
    padding: 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    background: #c0f4d7;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.editBanner span {
    cursor: pointer;
}

.editBanner:hover {
    text-decoration: underline;
    color: #0015ff;
}

.navbar__logo {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    padding: 0 10px;
    transition: 0.3s all ease-in-out;
}

@media (max-width: 800px) {
    .navbar {
        height: 70px;
        padding: 0 3%;
    }
}