.dashboard {
    margin: 90px 0 0 0;
    background-color: #F9F9F9;
    padding: 5% 0 0 0;
}

@media (max-width: 800px) {
    .dashboard {
        margin: 70px 0 0 0;
        width: 100%;
        padding: 40px 0 0 0;
    }
}