.dashboard {
	padding: 2%;
}

.inputField {
	margin: 20px 0;
}

.inputField label {
	font-weight: 500;
	font-size: 1.25rem;
}

.inputField input,
.inputField textarea {
	width: 100%;
	border-radius: 5px;
	outline: none;
	border: 1px solid #dadada;
	padding: 10px 20px;
	margin: 5px 0 0 0;
	resize: none;
	font-size: 18px;
}