.labelText {
    border: 1px solid #aeaeae;
    background: #f9f9f9;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: max-content;
    cursor: pointer;
}

.webAddressContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 10%;
}

.heading {
    font-weight: 600;
    font-size: 2rem;
    margin: 10px 0;
}

.description {
    font-size: 20px;
    margin: 10px 0 20px 0;
}

.inputElement {
    display: flex;
    align-items: center;
    margin: 20px 0;
    border-radius: 5px;
    border: 2px solid #dadada;
    background-color: #f3f4f6;
    padding: 0 0 0 15px;
}

.inputElement input {
    width: 98%;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    resize: none;
    background-color: #f3f4f6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}